<?xml version="1.0"?>
<ruleset name="Impact Flow Image Optimizer">
	<description>WordPress VIP checks for the Impact Flow Image Optimizer plugin.</description>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg value="ps"/>

	<file>impact-flow-image-optimizer.php</file>
	<file>includes</file>
	<file>index.php</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>tests/*</exclude-pattern>

	<rule ref="WordPress-VIP-Go"/>
</ruleset>
